*{
    margin: 0px;
    padding: 0px;
}
.header{
    text-align: center;
    font-size: 1.5em;
    font-weight: bold;
    background-color: rgba(146, 146, 146, 0.678);
    padding:10px;
}
.header>p{
    font-size: 0.6em;
}
.userdata{
    border-bottom: 2px dotted black;
}
.usercontrol{
    border-bottom: 2px dotted black;
    padding-bottom: 20px;
}
table{
    border-collapse: collapse;
    margin-left: auto;
    margin-right: auto;
    width: 100%;
    table-layout: fixed;
    border-collapse: initial;
}
table td{
    overflow-wrap: break-word;
}

thead{
    font-weight: bold;
}
.stat{
    border-bottom: 2px dotted black;
    padding-bottom: 20px;
}
.summ{
    border-bottom: 2px dotted black;
    padding-bottom: 0px;
}
.logout{
    margin-top: 15px;
    margin-bottom: 15px;
}
.footer{
    text-align: center;
    font-size: 0.9em;
    font-weight: bold;
    background-color: rgba(146, 146, 146, 0.678);
    padding:10px;
}
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}
.amount{
    width: 80%;
    margin-bottom: 10px;
    border-radius: 5px;
    padding: 3px;
}
.des{
    border-radius: 5px;
    padding: 3px;
}